@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-background font-playFair
    }
}

input[type=range]::-webkit-slider-thumb{
    pointer-events: all;
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background-color: red;
}
